<div class="container">
  <h3>Panier de recettes</h3>

  <ul *ngIf="status === 'ready'">
    <li *ngFor="let cartItem of myCart.recipeList; let i = index">
      <p class="titre-recettre">{{ cartItem.recipe.title }}</p>
      <div>
        <input type="number" value="{{ cartItem.nbPerson }}" min="1" max="30" />
        <label>personnes</label>
      </div>
      <button><img src="/assets/delete.png" /></button>
    </li>
  </ul>
  <ul *ngIf="status === 'notready'">
    <li>
      <p class="titre-recettre">Loading</p>
      <div>
        <input type="number" value="0" min="1" max="30" />
        <label>personnes</label>
      </div>
      <button><img src="/assets/delete.png" /></button>
    </li>
  </ul>
  <button class="liste-course" routerLink="/liste-courses">Générer la liste de courses</button>
</div>
