<div class="header">

    <div class="menu-burger">
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <a href="#">
                        <li>Accueil</li>
                    </a>
                    <a href="#">
                        <li>Connexion</li>
                    </a>
                    <a href="#">
                        <li>Inscription</li>
                    </a>
                    <a href="#">
                        <li>Liste de course</li>
                    </a>
                    <a href="#">
                        <li>Créer une recette</li>
                    </a>
                    <a href="#">
                        <li>Liste de recettes</li>
                    </a>
                </ul>
            </div>
        </nav>
    </div>


    <div class="div-title">
        <a href="#">
            <img src="assets/CookNShop-Logo.PNG" alt="Logo CookNShop">
        </a>
    </div>


    <div class="div-boutton">
        <a href="#"><img src="assets/chariot.png" alt="Boutton liste de course"></a>
        <a href="#"><img src="assets/loupe.png" alt="Boutton recherche"></a>
    </div>




</div>