<div class="container">
    <h3>Liste de courses</h3>

    <ul>
        <li>
            <p class="titre-ingredient">Farine</p>
            <div>
                <input type="text" value="500">
                <select name="unit" id="unit">
                    <option value="kg">kg</option>
                    <option value="g">g</option>
                    <option value="mg">mg</option>
                </select>
            </div>
            <button><img src="/assets/delete.png"></button>
        </li>
    </ul>
    <div class="div-share">
        <p>Partager la liste de course : </p>
        <input type="checkbox" class="shared">
        <button class="btn-share">Partager la liste<img src="/assets/partager.png"></button>
    </div>
    
</div>