<div class="container">
    <div class="presentation">
        <h3>Tarte aux fraises</h3>
        <img src="https://assets.afcdn.com/recipe/20210428/119899_w750h934cx372cy501cxb749cyb934.webp">
        <div class="recette-details">
            <p>45 min</p>
            <p>Facile</p>
            <p>Moyen</p>
        </div>
    </div>

    <div class="list-ingredients">
        <h3>Liste des ingrédients</h3>
        <ul>
            <li>Farine : 100g</li>
            <li>Sucre : 200g</li>
            <li>Jaune d'oeuf : 4 unité</li>
            <li>Lait : 1L</li>
            <li>Fraises : 500g</li>
        </ul>
        <label for="">Nombre de personnes :</label>
        <input type="number" value="1" min="1" max="30">

    </div>

    <div class="step">
        <h3>Préparation</h3>
        <ul>
            <li>
                <H4>Étape N°1</H4>
                <p>Commencez par préparer la crème. Mélangez les jaunes d'oeuf avec le sucre. Battez au fouet jusqu'à ce que le mélange blanchisse. Ajoutez la farine et mélangez bien. Ajoutez la farine au mélange sucre/oeufs. Ajoutez 10cl de lait pour que le mélange soit plus liquide.</p>
            </li>
            <li>
                <H4>Étape N°2</H4>
                <p>Mettez à chauffer le lait (90cl). Lorsque le lait est bien chaud, versez le sur le mélange précédent tout en battant bien au fouet. Puis remettez le tout à feu doux tout en continuant de battre rapidement. Mélangez énergiquement jusqu’à ce que la crème épaississe puis laissez la refroidir.</p>
            </li>
            <li>
                <H4>Étape N°3</H4>
                <p>Passez à la préparation de votre pâte. Mettez la farine dans un saladier, creusez un trou et versez le sucre. Cassez l’œuf par dessus et rajoutez le beurre coupé en morceaux. Rassemblez et malaxez pour faire une boule. Placez votre boule de pâte dans un film plastique et mettez la au frais 10min.</p>
            </li>
        </ul>
    </div>
    <button>Ajouter au panier</button>
</div>
