<div class="container" *ngIf="status === 'ready'">
  <div class="presentation">
    <h3>{{ myRecipe.title }}</h3>
    <img src="{{ myRecipe.imageLink }}" />
    <div class="recette-details">
      <p>{{ myRecipe.prepTime * 60 }} min</p>
      <p *ngIf="myRecipe.budget === 'CHEAP'">Petit Prix</p>
      <p *ngIf="myRecipe.budget === 'MODERATE'">Budget Modéré</p>
      <p *ngIf="myRecipe.budget === 'EXPENSIVE'">Gros Budget</p>
      <p *ngIf="myRecipe.difficulty === 'EASY'">Facile</p>
      <p *ngIf="myRecipe.difficulty === 'MODERATE'">Moyen</p>
      <p *ngIf="myRecipe.difficulty === 'HARD'">Difficile</p>
    </div>
  </div>

  <div class="list-ingredients">
    <h3>Liste des ingrédients</h3>
    <ul>
      <li *ngFor="let ingredient of myRecipe.recipeIngredient; let i = index">
        {{ ingredient.ingredient.name }} : {{ ingredient.quantity }} {{ ingredient.unit.name }}
      </li>
    </ul>
    <label for="">Nombre de personnes :</label>
    <input type="number" value="1" min="1" max="30" />
  </div>

  <div class="step">
    <h3>Préparation</h3>
    <ul>
      <li *ngFor="let step of myRecipe.stepList; let i = index">
        <h4>Étape N°{{ i + 1 }}</h4>
        <p>{{ step.description }}</p>
      </li>
    </ul>
  </div>
  <button>Ajouter au panier</button>
</div>
<div class="container" *ngIf="status === 'notready'"></div>
