html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
@font-face {
    font-family: 'Open Sans';
    src: url('/src/assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Fascinate Inline';
    src: url('/src/assets/Fonts/Fascinate_Inline/FascinateInline-Regular.ttf') format('truetype');
}
