<div class="div-recherche">
  <form (ngSubmit)="onSubmit()" class="searchbox-container">
    <input
      [(ngModel)]="recipeInput"
      type="search"
      class="searchbox"
      name="search"
      placeholder="Nom, catégorie d'une recette..."
    />
    <button type="submit" class="searchbutton">
      <img class="btn-recherche" src="assets/loupe.png" alt="Boutton recherche" />
    </button>
  </form>
</div>

<div class="result" *ngIf="status === 'notready'">
  <p>Résultat de la recherche :</p>
  <p>Aucun résultat trouvé</p>
</div>
<div class="result" *ngIf="status === 'ready'">
  <div
    class="div-liste"
    *ngFor="let recipe of recipeResponse; let i = index"
    routerLink="/details-recette/{{ recipe.id }}"
  >
    <div class="div-recettes">
      <img src="{{ recipe.imageLink }}" />
      <div class="div-title-desc">
        <h3>{{ recipe.title }}</h3>
      </div>
      <div class="boutton-fav">
        <app-boutton-fav></app-boutton-fav>
      </div>
    </div>
  </div>
</div>
